*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
  "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,
  "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: .8px;
  color: #333;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: #1ca9e3;
}

a img {
  transition: opacity .3s;
}

a img:hover {
  opacity: .8;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.contact-list,
.contact-item{
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

#fish_guppi {
  position: fixed;
  pointer-events: none;
  width: 40px;
  height: auto;
  transition: transform 0.2s;
  opacity: 0.0;
}

#fish_hone_footer {
  position: fixed;
  pointer-events: none;
  width: 40px;
  height: auto;
  transition: transform 0.2s;
  opacity: 0.0;
}

#fish_hone_gnav {
  position: fixed;
  pointer-events: none;
  width: 40px;
  height: auto;
  transition: transform 0.2s;
  opacity: 0.0;
}

#fish_iruka {
  position: fixed;
  pointer-events: none;
  width: 40px;
  height: auto;
  transition: transform 0.2s;
  opacity: 0.0;
}

#fish_kujira {
  position: fixed;
  pointer-events: none;
  width: 40px;
  height: auto;
  transition: transform 0.2s;
  opacity: 0.0;
}

#fish_kumanomi {
  position: fixed;
  pointer-events: none;
  width: 40px;
  height: auto;
  transition: transform 0.2s;
  opacity: 0.0;
}

#fish_kurage {
  position: fixed;
  pointer-events: none;
  width: 40px;
  height: auto;
  transition: transform 0.2s;
  opacity: 0.0;
}

#fish_maguro {
  position: fixed;
  pointer-events: none;
  width: 40px;
  height: auto;
  transition: transform 0.2s;
  opacity: 0.0;
}

#fish_same {
  position: fixed;
  pointer-events: none;
  width: 40px;
  height: auto;
  transition: transform 0.2s;
  opacity: 0.0;
}

#fish_syachi {
  position: fixed;
  pointer-events: none;
  width: 40px;
  height: auto;
  transition: transform 0.2s;
  opacity: 0.0;
}

/*--------------------------------
 文字
---------------------------------*/
.heading-primary {
  font-family: "Cormorant Garamond", serif;
  font-size: 36px;
  line-height: 1;
  display: inline-block;
  letter-spacing: .2em;
  color: #000;
}

.section-heading {
  margin-bottom: 10px;
  text-align: center;
}

.section-lead {
  margin-bottom: 40px;
  text-align: center;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  background-color: #fff;
}

.section {
  padding: 60px 0;
}

.inner {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 40px;
}

.content {
  margin-top: 50px;
}

/*--------------------------------
ロード画面
---------------------------------*/
.loading {
  background: #85cbd3;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
  display: block;
 }

 .loading.is-active {
   opacity: 0;
   visibility: hidden;
 }
  
.loading-animation {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: 1000px;
  display: block;
 }

 .loading-animation.is-active {
   opacity: 0;
   visibility: hidden;
 }

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 540px;
  background-size: cover;
}

.logo {
  position: relative;
  width: 100%;
  height: 540px;
  text-align: center;
  overflow: hidden;
}

.logo .video {
  width: 100vw;
  height: 540px;
  object-fit: cover;
  z-index: -100;
  object-fit: cover;
}

.logo-content {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  justify-content: center;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo-name {
  font-family: "Cormorant Garamond", serif;
  font-size: 66px;
  line-height: 1;
  margin-bottom: 5px;
  color: #fff;
}

.logo-name span {
  z-index: 1;
  opacity: 0;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

.logo-title {
  z-index: 1;
  font-family: "Cormorant Garamond", serif;
  font-size: 88px;
  font-weight: normal;
  line-height: 1;
  display: block;
  letter-spacing: .1em;
  color: #fff;
}

.logo-title span {
  z-index: 1;
  opacity: 0;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

/*--------------------------------
グローバルナビ
---------------------------------*/
.gnav {
  z-index: 100;
  font-family: "Cormorant Garamond", serif;
  padding: 20px;
  background-color: #fff;
}

.gnav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gnav-item {
  padding: 10px 30px;
}

.gnav-item:hover {
  transform: scale(1.3, 1.3);
}
.gnav-link {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .1em;
  color: #333;
}

/* iOS対策 */
.ios .gnav-link:hover {
  opacity: 1;
}

.gnav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translate3d(0, 0, 0);
  background-color: #fff;
  -webkit-box-shadow: 0 5px 7px -3px rgba(0, 0, 0, .1);
  box-shadow: 0 5px 7px -3px rgba(0, 0, 0, .1);
}

/*--------------------------------
 About
---------------------------------*/
.about-section .inner {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
  
.about-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about-image-wrapper {
  flex: 0 0 25%;
  margin-right: 30px;
  max-width: 200px;
}

.about-body {
  flex: 1;
}

.about-body p:not(:last-child) {
  margin-bottom: 20px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.about-table th {
  text-align: left;
}

.about-table td {
  padding-left: 50px;
  text-align: left;
} 

/*--------------------------------
 Career
---------------------------------*/
.career-section .inner {
  width: 95%;
  margin: 0 auto;
}
  
.career-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.career-body {
  flex: 1; 
}

.career-body p:not(:last-child) {
  margin-bottom: 20px;
}

.career-table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  vertical-align: top;
}

.career-table th {
  vertical-align: top;
}

.career-table td {
  padding-left: 20px;
}

.career-overview {
  padding-left: 30px; /* リスト全体に左側のパディングを追加 */
}

.career-overview .career-detail {
  list-style-position: outside;
  text-indent: 0em;
  margin-left: 0;
  padding-left: 0.5em;
}

.career-overview .career-url{
  list-style-position: outside;
  text-decoration: none;
  display: inline-block;
  text-indent: 0em;
  margin-left: 0;
  padding-left: 0.5em;
}

.career-overview .career-url:hover{
  transform: scale(1.04, 1.04);
}

.career-school,
.career-period {
  font-size: 110%;
  font-weight: bold;
}

.career-school a {
  position: relative;
  display: inline-block;
  padding: 0.1em 0.3em;
  text-decoration: none;
  font-weight:bold;
  color: #000;
  z-index: 1; /* リンクのz-indexを設定して前面に表示 */
}
.career-school a:after,
.career-school a::before {
  position: absolute;
  bottom: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: -1; /* リンクのz-indexを設定して前面に表示 */
}
.career-school a:after {
  right: 50%;
  left: 50%;
  width: 0;
  height: 100%;
  background-color: #000;/*ホバー時の背景色*/
}
.career-school a::before {
  left: 0;
  width: 100%;
  height: calc(100% - 2px);
  border-top: 1px solid #000;/*上線*/
  border-bottom: 1px solid #000;/*下線*/
}
.career-school a:hover:after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.career-school a:hover::before {
  right: 50%;
  left: 50%;
  width: 0%;
}

.career-school a:hover {
  color: #fff; /* ホバー時の文字色を変更 */
}

/*--------------------------------
 Skill
---------------------------------*/

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
  width: 80%;
  margin: 0 auto;
}

.skill-item {
  display: flex;
  flex: 0 0 46%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.skill-image-wrapper {
  flex: 0 0 60px;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-body p:not(:last-child) {
  margin-bottom: 20px;
}

.skill-title {
  margin-bottom: 3px;
}

.rate {
  position: relative;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  height: 20px;
  letter-spacing: .3em;
}

.rate:before,
.rate:after {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: inline-block;
  height: 20px;
  content: "★★★★★";
}

.rate:before {
  color: #ddd;
}

.rate:after {
  overflow: hidden;
  white-space: nowrap;
  color: #f1cd2a;
}

.rate1:after {
  width: 20px;
}

.rate2:after {
  width: 40px;
}

.rate3:after {
  width: 60px;
}

.rate4:after {
  width: 80px;
}

.rate5:after {
  width: 100px;
}

/*--------------------------------
 award
---------------------------------*/
.award-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.award-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}

.award-image {
  height: 300px; /* 高さ固定 */
  width: 100%; /* 幅を枠にフィット */
  object-fit: contain; /* アスペクト比を維持し、画像全体を表示 */
  background-color: #f5f5f5; /* 背景色 */
}

.award-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100%;
}

.award-title {
  font-weight: bold;
  margin-top: 8px;
}

.award-url:hover {
  transform: scale(1.05, 1.05);
}

.award-image:hover {
  transform: scale(1.05, 1.05);
}

/*--------------------------------
 publications
---------------------------------*/
.publication-table th {
  text-align: left;
}

.publication-table td {
  padding-left: 20px;
  text-align: left;
} 

.publication-table tr{
  padding: 20px;
}

.publication-table th:first-child, .publication-table td:first-child {
  white-space: nowrap;
  width: 100px;
}

.publication-conference {
  font-weight: bold;
}

.publication-paper .publication-url{
  text-decoration: none;
  display: inline-block;
  text-indent: 0em;
  margin-left: 0.5em;
}

.publication-paper .publication-url:hover{
  transform: scale(1.01, 1.01);
}

.publication-paper .publication-url-japan{
  text-decoration: none;
  display: inline-block;
}

.publication-paper .publication-url-japan:hover{
  transform: scale(1.01, 1.01);
}
/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.works-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}

.works-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100%;
}

.works-caption {
  width: fit-content;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.works-title {
  font-weight: bold;
  margin-top: 8px;
}

.works-image fadein lazyloaded {
  height: 100px;
}

.works-url:hover {
  transform: scale(1.2, 1.2);
}

.works-image:hover {
  transform: scale(1.1, 1.1);
}

/*--------------------------------
 Contact
---------------------------------*/
.contact-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.contact-item {
  width: 100px;
  margin: 0 20px;
  text-align: center;
}

.contact-name {
  font-size: 12px;
  display: block;
  margin-top: 5px;
  color: #333;
}

.contact-image {
  width: 50px;
}

.contact-image:hover {
  animation:1s linear infinite rotation;
}

/*-- 回転 --*/
@keyframes rotation{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg); }
}

.contact-text {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

/*--------------------------------
 Footer
---------------------------------*/
.footer {
  background-color: #333;
}

.footer .inner {
  padding: 30px;
}

.footer-link ul{
  margin-bottom: 30px;
  text-align: center;
}

.footer-link li a {
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
}

.footer-link li a:hover {
  color: #646464;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #8c8c8c;
}

.page-top {
  font-size: 16px;
  font-weight: bold;
  display: block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #74b9fa;
}

.page-top:hover {
  transform: scale(1, 1.1);
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 文字 */
  .heading-primary {
    font-size: 32px;
  }

  /* レイアウト */
  .section {
    padding: 60px 0;
  }

  .section .inner {
    padding: 0 15px;
  }

  .content {
    margin-top: 40px;
  }

  /* ヘッダー */
  .header {
    height: 70vh;
  }

  .logo-name {
    font-size: 16px;
  }

  .logo-title {
    font-size: 40px;
  }

  .logo-text {
    font-size: 10px;
  }

  /* グローバルナビ */
  .gnav-list {
    padding: 0 10px;
  }

  .gnav-link {
    font-size: 12px;
  }

  .gnav-link:hover {
    opacity: 1;
  }

  /* Feature */
  .feature-item {
    display: block;
  }

  .feature-image-wrapper {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  /* Award */
  .award-title {
    font-size: 10px;
  }

  .award-list {
    justify-content: space-between;
  }

  .award-item {
    flex: 0 0 48%;
    margin-bottom: 30px;
  }

  /* Works */
  .works-body {
    text-align: left;
  }

  .works-title {
    font-size: 10px;
  }

  .works-item {
    flex: 0 0 48%;
    margin-bottom: 30px;
  }

  /* About */
  .about-item {
    display: block;
  }

  .about-image-wrapper {
    width: 100px;
    max-width: 100%;
    margin: 0 auto 20px;
  }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    max-width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-image-wrapper {
    flex: 0 0 75px;
    margin-right: 15px;
  }

  .rate {
    font-size: 15px;
    height: 15px;
  }

  .rate:before,
  .rate:after {
    line-height: 15px;
    height: 15px;
  }

  .rate1:after {
    width: 15px;
  }

  .rate2:after {
    width: 35px;
  }

  .rate3:after {
    width: 55px;
  }

  .rate4:after {
    width: 75px;
  }

  .rate5:after {
    width: 95px;
  }

  /* Contact */
  .contact-item {
    width: 70px;
  }

  /* フッター */
  .footer .inner {
    padding: 20px 0;
  }
}
